name_model = "10B"
project = "debug_10B_zero_band"

[train]
micro_bs = 1
ac_ckpt = true

[optim]
sched_type = "wsd-sqrt"
batch_size = 128                #1M tokens bs
warmup_steps = 1000
total_steps = 1_000_000_000_000

z_loss = true

[optim.optim]
lr = 7.5e-5
betas1 = 0.9
betas2 = 0.95
weight_decay = 0.1

[data]
seq_length = 8192
num_workers = 4
